.moto-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.moto-header {
  text-align: center;
  font-size: 24px;
  color: #007bff;
  margin-bottom: 20px;
}

.moto-product {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  justify-content: space-between;
}

.moto-product img {
  max-width: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 20px;
}
.moto-price {
  margin-left: 50px;
}
