:root {
  --primary-color: #007bff;
  --secondary-color: #0056b3;
  --text-color: #333;
}

.products-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.categories-button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.categories-button:hover {
  background-color: var(--secondary-color);
}

.categories-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.category-item {
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  flex: 1;
}

.category-name {
  font-size: 20px;
  color: var(--text-color);
}

.products-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item {
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  flex: 1;
}

.product-image {
  max-width: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.cat-btn {
  background-color: #d56829;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.category-btns {
  display: flex;
  justify-content: space-around;
}
